<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<h1>Signup!</h1>

<%= link_to  "Sign up", 'users#create' %>

<%= form_for :user, url: '/users' do |f| %>

  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>

<% end %>

<%= link_to  "User Login", login_users_path %>